body {
    background-color: silver;
    font-family: 'Open Sans', sans-serif, Calibri;
    font-size: 13px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    width: 30%;
    height: 40%;
    margin: 0 auto;
    margin-top: 2.5%;
    background-color: white;
    border-radius: 10px;
}

h2 {
    margin-top: 15%;
    font-size: 2em;
}

form {
    width: 80%;
 
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    border-width: 0px 0px 2px 0px;
    border-color: silver;
    margin-top: 14%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
}

input:placeholder-shown {
    color: red;
    outline-color: red;
}

section {
    position: relative;
    width: 100%;
}

button#toggle-password {
    position: absolute;
    top: 60%;
    right: -2%;
    border-width: 0px;
    background-color: white;
    cursor: pointer;
}

button img {
    transform: scale(0.7);
}

.autorisation-button {
    width: 100%;
    text-transform: uppercase;
    padding-top: 8%;
    padding-bottom: 8%;
    margin-top: 30%;
    border-radius: 30px;
    border-width: 0px;
    color: white;
    background: linear-gradient(to right, rgb(88, 186, 243), rgb(137, 15, 218));
    cursor: pointer;
}

.autorisation-button:hover {
    background: linear-gradient(to right, rgb(6, 155, 241), rgb(193, 129, 236));
}

p {
    margin-top: 15%;
}

a {
    text-decoration: none;
    color:rgb(122, 122, 122);
}

a:hover {
    color: silver;
    transition: all 0.2s ease;
}